<div class="so-jobs">
    <div class="container">
        <h1 class="text-center">Stack Overflow Jobs</h1>
        <br>

        <% @so_jobs.each do |job| %>
            <h4>
                <%= link_to job.title, stackoverflow_job_path(job) %>
            </h4>
            <h4>
                <small>
                    <%= job.categories %>
                </small>
            </h4>
            <hr>
        <% end %>

        <%= will_paginate @so_jobs, renderer: BootstrapPagination::Rails %>

    </div>
</div>
