<div class="so-job-single">
    <div class="container">
        <h1 class="text-center">
            <%= @so_job.title %>
        </h1>
        <h3 class="text-center">
            <%= @so_job.categories %>
        </h3>

        <hr>

        <div class="col-md-12">
            <p>
                <%= link_to 'View on Stack Overflow', @so_job.link %>
            </p>
        </div>

        <div class="col-md-12 body-info">
            <h2 class="text-center">About this job</h2>
            <p><%= @so_job.description.html_safe %></p>
        </div>
    </div>
</div>
