<div class="all-jobs">
    <div class="container">
        <h1 class="text-center">All Jobs</h1>
        <br>
        <div class="col-xs-12 col-sm-4 col-md-4 job-column">
            <h3>Latest from Stack Overflow</h3>
            <div class="clearfix">
            <hr>
            </div>
            <% @so_jobs.each do |job|  %>
                <p><%= link_to job.title, stackoverflow_job_path(job) %></p>
            <% end %>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 job-column">
            <h3>Latest from Github</h3>
            <div class="clearfix">
            <hr>
            </div>
            <% @gh_jobs.each do |job|  %>
                <p><%= link_to job.title, github_job_path(job) %></p>
            <% end %>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 job-column">
            <h3>Latest from Hacker News</h3>
            <div class="clearfix">
            <hr>
            </div>
            <% @hn_jobs.each do |job|  %>
                <p><%= link_to job.title, hackernews_job_path(job) %></p>
            <% end %>
        </div>
    </div>
</div>
