<div class="hn-jobs">
    <div class="container">
        <h1 class="text-center">Hacker News Jobs</h1>
        <br>

        <% @hn_jobs.each do |hn_job| %>
            <h4>
                <%= link_to hn_job.title, hackernews_job_path(hn_job) %>
                <i>
                    -  <%= hn_job.by %>
                </i>
            </h4>
            <hr>
        <% end %>

        <%= will_paginate @hn_jobs, renderer: BootstrapPagination::Rails %>

    </div>
</div>
