<div class="hn-job-single">
    <div class="container">
        <h1 class="text-center">
            <%= @hn_job.title %>
        </h1>
        <hr>

        <div class="row-fluid top-info clearfix">
            <div class="col-md-12">
                <p>
                    Posted by:
                    <span>
                        <%= @hn_job.by %>
                    </span>
                </p>
                <p>
                    <%= link_to 'View on HN', hnLink(@hn_job.hn_id), :target => "_blank" %>
                </p>
                <p>
                    <% if !@hn_job.url.empty? %>
                        <%= link_to 'Company Website', @hn_job.url, :target => "_blank" %>
                    <% end %>
                <p>
                    <%= Time.at(@hn_job.time.to_i) %>
                </p>
            </div>
        </div>

        <div class="col-md-12 body-info clearfix">
            <% if @hn_job.text.empty? %>
                <p class="text-center">No description provided</p>
            <% else %>
                <h2 class="text-center">About this Job</h2>
                <%= raw @hn_job.text %>
            <% end %>
        </div>

    </div>
</div>
