<div class="home">
    <div class="container">
        <div class="home-name">
            <h1>HCKRJOBS</h1>
            <p>An aggregation of the best startup and developer jobs from around the web</p>
        </div>
        <div class="home-search">
            <%= render 'layouts/searchform' %>
        </div>
        <hr>
        <div class="home-categories">
            <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2">
                <h4>Technologies</h4>
                <ul>
                    <li>
                        <%= link_to 'Ruby', results_path(:query => 'ruby') %>
                    </li>
                    <li>
                        <%= link_to 'Python', results_path(:query => 'python') %>
                    </li>
                    <li>
                        <%= link_to 'C++', results_path(:query => 'c++') %>
                    </li>
                    <li>
                        <%= link_to 'Functional Programming',
                        results_path(:query => 'functional programming')
                        %>
                    </li>
                    <li>
                        <%= link_to 'Javascript / Node.js',
                        results_path(:query => 'node.js javascript')
                        %>
                    </li>
                    <li>
                        <%= link_to 'iOS', results_path(:query => 'iOS') %>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h4>Locations</h4>
                <ul>
                    <li>
                        <%= link_to 'Remote', results_path(:query => 'Remote') %>
                    </li>
                    <li>
                        <%= link_to 'San Francisco', results_path(:query => 'San Francisco') %>
                    </li>
                    <li>
                        <%= link_to 'Toronto', results_path(:query => 'Toronto') %>
                    </li>
                    <li>
                        <%= link_to 'London',
                        results_path(:query => 'London')
                        %>
                    </li>
                    <li>
                        <%= link_to 'New York',
                        results_path(:query => 'New York')
                        %>
                    </li>
                    <li>
                        <%= link_to 'Chicago', results_path(:query => 'Chicago') %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
