<div class="search-jobs">
    <div class="container">
        <h1 class="text-center">Search Jobs</h1>
        <br>

        <div class="results-search">
            <%= render 'layouts/searchform' %>
        </div>

        <h3>Results</h3>
        <p>
            <small>Showing <%= @results.length %> of <%= @results.total_entries %> results</small>
        </p>

        <% @results.each do |result| %>
            <p>
                <%= link_to result.searchable.title, result.searchable %>
            </p>
        <% end %>

        <%= will_paginate @results, renderer: BootstrapPagination::Rails %>

    </div>
</div>
