<div class="so-jobs">
    <div class="container">
        <h1 class="text-center">Github Jobs</h1>
        <br>

        <% @github_jobs.each do |github_job| %>
            <h4>
                <%= link_to github_job.title, github_job %>
                <small>
                    <%= github_job.location %>
                </small>
            </h4>
            <p>
                <%= github_job.github_type %>
                at
                <%= github_job.company %>
            </p>
            <hr>
        <% end %>

        <%= will_paginate @github_jobs, renderer: BootstrapPagination::Rails %>

    </div>
</div>
