<div class="gh-job-single">
    <div class="container">

        <h1 class="text-center">
            <%= @github_job.title %>
        </h1>
        <h3 class="text-center">
            <%= @github_job.location %>
            <span> - </span>
            <%= @github_job.company %>
        </h3>

        <hr>

        <div class="row-fluid text-center">
            <% if @company_logo.present? %>
                <%= image_tag @company_logo,
                    alt: @github_job.company,
                        class: 'company-logo'
                %>
            <% end %>
        </div>

        <div class="row-fluid top-info clearfix">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <p>
                    <p><%= @github_job.github_type %></p>
                    <p><strong>How to apply:</strong></p>
                    <%= raw @github_job.how_to_apply %>
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <p>
                    <p class="text-right"><%= link_to 'View on Github', @github_job.url %></p>
                    <p class="text-right">
                        <% if !@github_job.company_url.nil? %>
                            <%= link_to 'Company Website', @github_job.company_url %>
                        <% end %>
                    </p>
                    <p class="text-right"><%= @github_job.created_at %></p>
                </p>
            </div>
        </div>

        <div class="col-md-12 body-info clearfix">
            <h2 class="text-center">About this Job</h2>
            <%= raw @github_job.description %>
        </div>

    </div>
</div>
