// Place all the styles related to the all controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.all-jobs {
    h4 {
        font-weight: 700;
    }
    .job-column {
        margin: auto;
        hr {
            width: 25%;
            margin-top: 5px;
            margin-bottom: 15px;
            float: left;
        }
    }
}