// Place all the styles related to the GithubJobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gh-job-single {
    hr {
        width: 40%;
        line-height: 15px;
        height: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .company-logo {
        max-height: 150px;
        margin-bottom: 15px;
    }
    .top-info {
        margin-top: 25px;
        margin-bottom: 25px;
        p {
            margin-bottom: 3px;
        }
    }
    .body-info {
        h2 {
            margin-bottom: 25px;
        }
    }
}
