// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
    .home-name {
        text-align: center;
        margin-bottom: 40px;
    }

    .home-search-form {
        text-align: center;
        .home-search-input {
            width: 60%;
        }
    }
    hr {
        width: 40%;
        line-height: 15px;
        height: 15px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .home-categories {
        text-align: center;
        h4 {
            font-weight: 700;
        }
        ul {
            width: 75%;
            text-align: left;
            margin: auto;
        }
    }
}