// Place all the styles related to the StackoverflowJobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.so-job-single {
    hr {
        width: 40%;
        line-height: 15px;
        height: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .body-info {
        h2 {
            margin-bottom: 25px;
        }
    }
}