<footer class="footer">
    <div class="container">
        <hr>
        <p>
            <span>HCKRJOBS by Cody Reichert</span>
            <span class="text-right pull-right">Questions or comments: codyreichert@gmail.com</span>
        </p>
    </div>
</footer>
