<nav>

    <div class="nav container">

        <div class="col-md-12">
            <div class="pull-left logo">
                <%= link_to 'HCKRJOBS', root_path %>
            </div>
            <div class="pull-right">
                <%= link_to 'Latest', all_index_path %>

                <span> | </span>

                <%= link_to 'Github Jobs', github_jobs_path %>

                <span> | </span>

                <%= link_to 'HN Jobs', hackernews_jobs_path %>

                <span> | </span>

                <%= link_to 'Stack Overflow Jobs', stackoverflow_jobs_path %>
                <span> | </span>

                <%= link_to 'Search', results_path(query: 'Python') %>
            </div>
        </div>
    </div>

</nav>

