<%= form_tag results_path, method: :get, class: 'job-search-wide' do %>
    <%= text_field_tag :query, params[:query],
        class: 'job-search-input',
        placeholder: 'ruby on rails'
    %>
    <%= submit_tag "Search", name: nil, class: 'job-search-submit' %>
<% end %>
