<!DOCTYPE html>
<html>
<head>
  <title>New</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="wrap">
        <div class="row-fluid">
            <%= render 'layouts/navigation' %>
            <%= yield %>
        </div>
    </div>

    <%= render 'layouts/footer' %>

</body>
</html>
